/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: Popins, sans-serif;
  font-size: 16px;
  color: #323232;
  line-height: 1.6875;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
  width: 100%;
}
.container--no-padding {
  padding: 0;
}

.none {
  display: none;
}

.nav {
  padding-top: 35px;
  padding-bottom: 35px;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.logo img {
  margin-right: 5px;
}

.navigation-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-list li:not(:last-child) {
  margin-right: 42px;
}
.navigation-list a:hover {
  color: #F78434;
}
.navigation-list a.active {
  color: #F78434;
  font-weight: 700;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__text {
  width: 465px;
}

.header__title {
  margin-right: -160px;
  position: relative;
  z-index: 9;
  margin-bottom: 25px;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.46;
}

.header__text p {
  line-height: 1, 6875;
  margin-bottom: 1em;
}

.header__form {
  margin-top: 42px;
}

.header__img img {
  border-radius: 40px 40px 40px 0;
}

.form {
  background-color: #fff;
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}
.form--active {
  -webkit-box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27);
          box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27);
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-left: 72px;
  position: relative;
}
.form__label::before {
  content: "";
  display: block;
  background-image: url("/img/icons/email.svg");
  width: 24px;
  height: 19px;
  position: absolute;
  left: 28px;
  top: 20px;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 10px;
}
.form__input::-webkit-input-placeholder {
  color: #BBBBBB;
}
.form__input::-moz-placeholder {
  color: #BBBBBB;
}
.form__input:-ms-input-placeholder {
  color: #BBBBBB;
}
.form__input::-ms-input-placeholder {
  color: #BBBBBB;
}
.form__input::placeholder {
  color: #BBBBBB;
}

.button {
  display: inline-block;
  height: 58px;
  color: #fff;
  background-color: #F78434;
  padding: 0 37px;
  border-radius: 29px;
  font-weight: 700;
  line-height: 58px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: #ff6a00;
}
.button--white {
  background-color: #fff;
  color: #323232;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.button--white:hover {
  background-color: #323232;
  color: #fff;
}

.objects {
  margin-top: 115px;
  margin-bottom: 80px;
}

.objects__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.objects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}
@media (max-width: 1495px) {
  .objects__row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.objects__text {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 374px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-left: 181px;
  padding-right: 150px;
}
.objects__text + .objects__text {
  margin-top: 20px;
}

.objects__title {
  margin-bottom: 20px;
}

.title {
  font-size: 42px;
  line-height: 1, 476;
  font-weight: 700;
}

.objects__button {
  margin-top: 40px;
}

.img-card {
  position: relative;
  width: 385px;
}
.img-card + .img-card {
  margin-left: 32px;
}

.img-card__img {
  border-radius: 20px 20px 0px 20px;
}
.img-card--rounded .img-card__img {
  border-radius: 20px;
}

.img-card__info {
  position: absolute;
  right: -46px;
  bottom: 87px;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
}

.card-info__icon {
  margin-right: 20px;
}

.card-info__title {
  font-weight: 700;
}

.cta {
  padding-top: 70px;
  padding-bottom: 70px;
}

.cta__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #58BEBF;
  color: #fff;
  border-radius: 20px;
  padding-right: 95px;
}

.cta__img {
  margin-top: 60px;
  padding-top: 25px;
  padding-right: 25px;
  background-color: #fff;
  border-radius: 0 20px 0 0;
}

.cta__text {
  width: 364px;
}
.cta__text p {
  width: 320px;
  margin-bottom: 30px;
}

.cta__title {
  margin-bottom: 15px;
}

.cta__buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}