.testimonails {
    padding-top: 60px;
    padding-bottom: 60px;
}

.testimonails__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 58px;
}
.testimonials__title {
    max-width: 453px;
}

.testimonails__subtitle {
    max-width: 398px;
}